<% const cartIsEmpty = (typeof cart == "undefined" || Object.keys(cart).length == 0 || typeof cart.items == "undefined" ||  cart.items.length == 0)%> 
<% if (!cartIsEmpty) { %>
 <!--begin::Container-->
<div id="container" customerID="<%= cart.customer %>" class="container-xxl" id="kt_content_container">
    <!--begin::Form-->
    <form id="kt_ecommerce_edit_order_form" class="form d-flex flex-column flex-lg-row"
        data-kt-redirect="../../demo9/dist/apps/ecommerce/sales/listing.html">
        <!--begin::Aside column-->
        <div class="w-100 flex-lg-row-auto w-lg-400px mb-7 me-7 me-lg-10">
            <!--begin::Order details-->
            <div class="card card-flush py-4 mb-7">
                <!--begin::Card header-->
                <div class="card-header">
                    <div class="card-title">
                        <h2>تفاصيل المشتري</h2>
                    </div>
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <!--begin::Table-->
                        <table class="table align-middle table-row-bordered mb-0 fs-6 gy-5 min-w-300px">
                            <!--begin::Table body-->
                            <tbody class="fw-bold text-gray-600">
                                <!--begin::Customer name-->
                                <tr>
                                    <td class="text-muted">
                                        <div class="d-flex align-items-center">
                                            <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                            <span class="svg-icon svg-icon-2 me-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none">
                                                    <path opacity="0.3"
                                                        d="M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM12 7C10.3 7 9 8.3 9 10C9 11.7 10.3 13 12 13C13.7 13 15 11.7 15 10C15 8.3 13.7 7 12 7Z"
                                                        fill="black"></path>
                                                    <path
                                                        d="M12 22C14.6 22 17 21 18.7 19.4C17.9 16.9 15.2 15 12 15C8.8 15 6.09999 16.9 5.29999 19.4C6.99999 21 9.4 22 12 22Z"
                                                        fill="black"></path>
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->المشتري
                                        </div>
                                    </td>
                                    <td class="fw-bolder text-end">
                                        <div class="d-flex align-items-center justify-content-end">
                                            <!--begin:: Avatar -->
                                            <div class="symbol symbol-circle symbol-25px overflow-hidden me-3">
                                                <a href="../../demo9/dist/apps/user-management/users/view.html">
                                                    <div class="symbol-label">
                                                        <img src="/assets/media/avatars/300-23.jpg" alt="Dan Wilson"
                                                            class="w-100">
                                                    </div>
                                                </a>
                                            </div>
                                            <!--end::Avatar-->
                                            <!--begin::Name-->
                                            <a href="../../demo9/dist/apps/user-management/users/view.html"
                                                class="text-gray-600 text-hover-primary">فادي محسن</a>
                                            <!--end::Name-->
                                        </div>
                                    </td>
                                </tr>
                                <!--end::Customer name-->
                                <!--begin::Customer email-->
                                <tr>
                                    <td class="text-muted">
                                        <div class="d-flex align-items-center">
                                            <!--begin::Svg Icon | path: icons/duotune/communication/com011.svg-->
                                            <span class="svg-icon svg-icon-2 me-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none">
                                                    <path opacity="0.3"
                                                        d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z"
                                                        fill="black"></path>
                                                    <path
                                                        d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z"
                                                        fill="black"></path>
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->البريد الإلكتروني
                                        </div>
                                    </td>
                                    <td class="fw-bolder text-end">
                                        <a href="../../demo9/dist/apps/user-management/users/view.html"
                                            class="text-gray-600 text-hover-primary">dam@consilting.com</a>
                                    </td>
                                </tr>
                                <!--end::Payment method-->
                                <!--begin::Date-->
                                <tr>
                                    <td class="text-muted">
                                        <div class="d-flex align-items-center">
                                            <!--begin::Svg Icon | path: icons/duotune/electronics/elc003.svg-->
                                            <span class="svg-icon svg-icon-2 me-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none">
                                                    <path
                                                        d="M5 20H19V21C19 21.6 18.6 22 18 22H6C5.4 22 5 21.6 5 21V20ZM19 3C19 2.4 18.6 2 18 2H6C5.4 2 5 2.4 5 3V4H19V3Z"
                                                        fill="black"></path>
                                                    <path opacity="0.3" d="M19 4H5V20H19V4Z" fill="black"></path>
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->رقم الجوال
                                        </div>
                                    </td>
                                    <td class="fw-bolder text-end">0592273381</td>
                                </tr>
                                <!--end::Date-->
                            </tbody>
                            <!--end::Table body-->
                        </table>
                        <!--end::Table-->
                    </div>
                </div>
                <!--end::Card header-->
            </div>
            <!--end::Order details-->
            <!--begin::Order details-->
            <div class="card card-flush py-4">
                <!--begin::Card header-->
                <div class="card-header">
                    <div class="card-title">
                        <h2>تفاصيل الطلبية</h2>
                    </div>
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <div class="d-flex flex-column gap-10">
                        <!--begin::Input group-->
                        <div class="fv-row">
                            <!--begin::Label-->
                            <label class="form-label">السيريال</label>
                            <!--end::Label-->
                            <!--begin::Auto-generated ID-->
                            <div class="fw-bolder fs-3">#12566</div>
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row">
                            <!--begin::Label-->
                            <label class="required form-label">طريقة الدفع</label>
                            <!--end::Label-->
                            <!--begin::Select2-->
                            <select class="form-select mb-2" data-control="select2" data-hide-search="true"
                                data-placeholder="أختر" name="payment_method" id="payment_method">
                                <option></option>
                                <option value="cash">كاش</option>
                                <option value="batch">دفعة</option>
                            </select>
                            <!--end::Select2-->
                            <!--begin::Description-->
                            <div class="text-muted fs-7 mb-4">في حالة الدفعة سيتم ترحيل الباقي على الحساب.</div>
                            <!--end::Description-->
                            <div class="d-none" id="batch_amount_block">
                                <!--begin::Label-->
                                <label class="required form-label">قيمة الدفعة</label>
                                <!--end::Label-->
                                <!--begin::Select2-->
                                <input type="number" value="1" min="1" class="form-control form-control-solid calcPrice calcPrice"  id="batch_amount">                            <!--end::Select2-->
                            </div>
                        </div>
                        <!--end::Input group-->

                    </div>
                </div>
                <!--end::Card header-->
            </div>
            <!--end::Order details-->
        </div>
        <!--end::Aside column-->

        <!--begin::Main column-->
        <div class="card card-flush py-4 flex-row-fluid overflow-hidden">
            <!--begin::Card header-->
            <div class="card-header">
                <div class="card-title">
                    <h2>Order #14534</h2>
                </div>
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0">
                        <!--begin::Table head-->
                        <thead>
                            <tr class=" text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                <th class="min-w-100px ">المنتج</th>
                                <th class="min-w-100px  text-center">المقاس</th>
                                <th class="min-w-100px text-center">اللون</th>

                                <th class="min-w-100px  text-center">السعر</th>
                                <th class="min-w-70px  text-center">العدد</th>
                                <th class="min-w-100px  text-center">المجموع</th>
                                <th class="min-w-100px text-end">الخصائص</th>
                            </tr>
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody class="fw-bold text-gray-600">
                            <!--begin::Products-->
                            <% cart.items.forEach((item , index)=> { %>
                                <tr>
                                    <!--begin::Product-->
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <!--begin::Thumbnail-->
                                            <a href="../../demo9/dist/apps/ecommerce/catalog/edit-product.html"
                                                class="symbol symbol-50px">
                                                <span class="symbol-label"
                                                    style="background-image:url(<%= item.img %>);"></span>
                                            </a>
                                            <!--end::Thumbnail-->
                                            <!--begin::Title-->
                                            <div class="ms-5">
                                                <a href="../../demo9/dist/apps/ecommerce/catalog/edit-product.html"
                                                    class="fw-bolder text-gray-600 text-hover-primary">
                                                    <%= item.title %>
                                                </a>
                                                <div class="fs-7 text-muted">
                                                    <%= item.color.name %>
                                                </div>
                                            </div>
                                            <!--end::Title-->
                                        </div>
                                    </td>

                                    <!--end::Product-->

                                    <!--begin::SKU-->
                                    <td class="text-center">
                                        <%= (isNaN(item.size) || null) ? `${item.height.size}
                                            ${units[item.height.unit.toUpperCase()].ar} * ${item.width.size}
                                            ${units[item.width.unit.toUpperCase()].ar}` : `${item.size} يارد` %>
                                    </td>
                                    <!--end::SKU-->
                                    <!--begin::SKU-->
                                    <td class="text-center">
                                        <%= item.color.name %>
                                    </td>
                                    <!--end::SKU-->
                                    <!--begin::SKU-->
                                    <td class="text-center">
                                        <%= item.price.toFixed(2) %> شيكل
                                    </td>
                                    <!--end::SKU-->
                                    <!--begin::Quantity-->
                                    <td class="text-center">
                                        <%= item.qty %>
                                    </td>
                                    <!--end::Quantity-->
                                    <!--begin::Price-->
                                    <td class="text-center">
                                        <%= item.totalAmount.toFixed(2) %> شيكل
                                    </td>
                                    <!--end::Price-->
                                    <!--begin::Total-->
                                    <td class="text-end"><a href="#"
                                            class="btn btn-sm btn-light btn-active-light-primary"
                                            data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end"
                                            data-kt-menu-flip="top-end">خيارات
                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                                            <span class="svg-icon svg-icon-5 m-0">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none">
                                                    <path
                                                        d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z"
                                                        fill="black"></path>
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                        </a>
                                        <!--begin::Menu-->
                                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4"
                                            data-kt-menu="true">
                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3">
                                                <a href="#" class="menu-link px-3 edit" itemid="<%= index %>">تعديل</a>

                                            </div>
                                            <!--end::Menu item-->
                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3">
                                                <a href="#" class="menu-link px-3 delete" itemid="<%= index %>">حذف</a>
                                            </div>
                                            <!--end::Menu item-->


                                        </div>
                                        <!--end::Menu-->
                                    </td>
                                    <!--end::Total-->

                                </tr>
                                <% }) %>


                                    <!--end::Products-->
                                    <!--begin::Subtotal-->
                                    <tr>
                                        <td colspan="5" class="text-end">الإجمالي</td>
                                        <td class="text-center" id="totalAmount">
                                            <%= cart.totalAmount.toFixed(2)%> شيكل
                                        </td>
                                    </tr>
                                    <!--end::Subtotal-->
                                    <!--begin::VAT-->
                                    <tr>
                                        <td colspan="5" class="text-end">الخصم</td>
                                        <td class="text-center" id="discount">
                                            <%= cart.discount.toFixed(2) %> شيكل
                                        </td>
                                    </tr>
                                    <!--end::VAT-->

                                    <!--begin::Grand total-->
                                    <tr>
                                        <td colspan="5" class="fs-3 text-dark text-end">مطلوب للدفع</td>
                                        <td class="text-dark fs-3 fw-boldest text-center" id="finalAmount">
                                            <%= cart.finalAmount.toFixed(2)%> شيكل
                                        </td>
                                    </tr>
                                    <!--end::Grand total-->
                                    <!--begin::Shipping-->
                                    <tr>
                                        <td colspan="5" class="text-end">المدفوع</td>
                                        <td class="text-center" id="paidAmount">
                                            <%= cart.paidAmount.toFixed(2)%> شيكل
                                        </td>
                                    </tr>
                                    <!--end::Shipping-->
                                    <!--begin::Shipping-->
                                    <tr>
                                        <td colspan="5" class="text-end">المسترد</td>
                                        <td class="text-center" id="moneyBack">
                                            <%= (cart.paidAmount - cart.finalAmount).toFixed(2)%> شيكل
                                        </td>
                                    </tr>
                                    <!--end::Shipping-->

                        </tbody>
                        <!--end::Table head-->
                    </table>
                    <!--end::Table-->
                </div>
            </div>
            <!--end::Card body-->
            <div class="modal-footer flex-start">
                <!--begin::Button-->
                <input type="button" class="btn btn-light me-3 cancel" value="إلغاء">
                <!--end::Button-->
                <!--begin::Button-->
                <button type="submit" class="btn btn-primary">
                    <span class="indicator-label save">حفظ</span>
                    <span class="indicator-progress">الرجاء الإنتظار...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                </button>
                <!--end::Button-->
            </div>
        </div>

        <!--end::Main column-->
    </form>
    <!--end::Form-->
    <!--begin::Modal - Cart - Add-->
    <div class="modal fade" id="kt_modal_edit_item_from_cart" tabindex="-1" aria-hidden="true">

        <!--begin::Modal dialog-->
        <div class="modal-dialog modal-dialog-centered mw-800px">
            <!--begin::Modal content-->
            <div class="modal-content">
                <!--begin::Form-->
                <form class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#"
                    id="kt_modal_edit_item_from_cart_form" data-kt-redirect="/item/new" autocomplete="off"
                    enctype="multipart/form-data">
                    <!--begin::Modal header-->
                    <div class="modal-header" id="kt_modal_edit_item_from_cart_header">
                        <!--begin::Modal title-->
                        <h2 class="fw-bolder">تعديل العنصر<div class="badge badge-light-success" id="modal_item_title">
                            </div>
                        </h2>

                        <!--end::Modal title-->
                        <!--begin::Close-->
                        <div id="kt_modal_edit_item_from_cart_close"
                            class="btn btn-icon btn-sm btn-active-icon-primary">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                            <span class="svg-icon svg-icon-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
                                        transform="rotate(-45 6 17.3137)" fill="black"></rect>
                                    <rect x="7.41422" y="6" width="16" height="2" rx="1"
                                        transform="rotate(45 7.41422 6)" fill="black"></rect>
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </div>
                        <!--end::Close-->
                    </div>
                    <!--end::Modal header-->
                    <!--begin::Modal body-->
                    <div class="modal-body py-10 px-lg-17">
                        <div class="row">
                            <div class="col-md-5">
                                <!--begin::Scroll-->
                                <div class="scroll-y me-n7 pe-7" id="kt_modal_edit_item_from_cart_scroll"
                                    data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                                    data-kt-scroll-max-height="auto"
                                    data-kt-scroll-dependencies="#kt_modal_edit_item_from_cart_header"
                                    data-kt-scroll-wrappers="#kt_modal_edit_item_from_cart_scroll"
                                    data-kt-scroll-offset="300px" style="max-height: 647px;">



                                    <div class="fv-row mb-7 fv-plugins-icon-container">
                                        <!--begin::Label-->
                                        <label class="required fs-6 fw-bold mb-2">اللون</label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <select name="color" id="color" class="form-select form-select-solid fw-bolder"
                                            data-kt-select2="true" data-placeholder="أختر..." data-hide-search="true">

                                        </select>

                                        <!--end::Input-->
                                        <div class="fv-plugins-message-container invalid-feedback"></div>
                                    </div>
                                    <div class="fv-row mb-7 fv-plugins-icon-container">
                                        <!--begin::Label-->
                                        <label class="required fs-6 fw-bold mb-2">المقاس</label>
                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <select name="size" id="size"
                                            class="form-select form-select-solid fw-bolder calcPrice"
                                            data-kt-select2="true" data-placeholder="أختر..." data-hide-search="true">
                                            <option value="9">9 فجة</option>
                                            <option value="10.5">10.5 فجة</option>
                                            <option value="12">12 فجة</option>
                                            <option value="14">14 فجة</option>
                                            <option value="16">16 فجة</option>
                                            <option value="18">18 فجة</option>
                                            <option value="20">20 فجة</option>
                                            <option value="custom">مقاس مخصص</option>
                                        </select>

                                        <!--end::Input-->
                                        <div class="fv-plugins-message-container invalid-feedback"></div>
                                    </div>
                                    <div class="fv-row mb-7 fv-plugins-icon-container">
                                        <!--begin::Label-->
                                        <label class="required fs-6 fw-bold mb-2">الكمية</label>

                                        <!--end::Label-->
                                        <!--begin::Input-->
                                        <input type="number" value="1" min="1"
                                            class="form-control form-control-solid calcPrice calcPrice" name="qty"
                                            id="qty">


                                        <!--end::Input-->
                                        <div class="fv-plugins-message-container invalid-feedback"></div>
                                    </div>

                                    <div class="d-none" id="custom_size_block">
                                        <label class="required fs-6 fw-bold mb-2">الطول</label>

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                                    <!--begin::Label-->
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input type="number" value="0" min="0"
                                                        class="form-control form-control-solid calcPrice"
                                                        name="height_size" id="height_size">


                                                    <!--end::Input-->
                                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                                    <!--begin::Label-->

                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <select name="height_unit" id="height_unit"
                                                        class="form-select form-select-solid fw-bolder calcPrice"
                                                        data-kt-select2="true" data-placeholder="أختر..."
                                                        data-hide-search="true">
                                                        <% unitsArr.forEach(unit=> { %>
                                                            <option value="<%= units[unit.toUpperCase()].en %>">
                                                                <%= units[unit.toUpperCase()].ar %>
                                                            </option>
                                                            <% }) %>
                                                    </select>

                                                    <!--end::Input-->
                                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="required fs-6 fw-bold mb-2">العرض</label>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                                    <!--begin::Label-->
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input type="number"
                                                        class="form-control form-control-solid calcPrice" value="0"
                                                        min="0" name="width_size" id="width_size">



                                                    <!--end::Input-->
                                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                                    <!--begin::Label-->

                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <select name="width_unit" id="width_unit"
                                                        class="form-select form-select-solid fw-bolder calcPrice"
                                                        data-kt-select2="true" data-placeholder="أختر..."
                                                        data-hide-search="true">
                                                        <% unitsArr.forEach(unit=> { %>
                                                            <option value="<%= units[unit.toUpperCase()].en %>">
                                                                <%= units[unit.toUpperCase()].ar %>
                                                            </option>
                                                            <% }) %>

                                                    </select>

                                                    <!--end::Input-->
                                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <!--end::Scroll-->
                            </div>
                            <div class="col-md-7">
                                <div id="image-contanier" class="text-center">
                                    <img id="modal_color_img" src="/assets/media/illustrations/sigma-1/9.png" alt=""
                                        class="rounded" />
                                    <span id="price"
                                        class="price badge badge-light-primary fw-bolder me-auto px-4 py-3">
                                        101
                                    </span>
                                </div>
                                <style>
                                    img {
                                        width: 100%;
                                        height: 300px;
                                        object-fit: cover !important;
                                    }

                                    #image-contanier {
                                        position: relative;
                                        display: inline-block;
                                        text-align: center;
                                        width: 100%;
                                        height: 300px;
                                    }

                                    .price {
                                        position: absolute;
                                        top: 15px;
                                        right: 15px;
                                        width: 150px;
                                        height: 30px;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                    <!--end::Modal body-->
                    <!--begin::Modal footer-->
                    <div class="modal-footer flex-center">
                        <!--begin::Button-->
                        <button type="reset" id="kt_modal_edit_item_from_cart_cancel"
                            class="btn btn-light me-3">إلغاء</button>
                        <!--end::Button-->
                        <!--begin::Button-->
                        <button type="submit" id="kt_modal_edit_item_from_cart_submit" class="btn btn-primary">
                            <span class="indicator-label">حفظ</span>
                            <span class="indicator-progress">الرجاء الإنتظار...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        </button>
                        <!--end::Button-->
                    </div>
                    <!--end::Modal footer-->
                    <div></div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
    <!--end::Modals-->
</div>
<!--end::Container-->
<% } else { %>
    <div id="container" class="container-xxl" id="kt_content_container">
        <div class="d-flex flex-column flex-center">
            <img src="/assets/media/illustrations/sketchy-1/5.png" class="mw-400px">
            <div class="fs-1 fw-bolder text-dark mb-4">لا يوجد طلبية في السلة.</div>
            <div class="fs-6">قم بتصفح المنتجات وأختر طلبيتك!</div>
        </div>
    </div>
<% } %>
<!--begin::Javascript-->
<!--begin::Global Javascript Bundle(used by all pages)-->
<script src="/assets/plugins/global/plugins.bundle.js"></script>
<script src="/assets/js/scripts.bundle.js"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Page Vendors Javascript(used by this page)-->
<script src="/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<script src="/assets/plugins/custom/formrepeater/formrepeater.bundle.js"></script>
<!--end::Page Vendors Javascript-->
<script>
    const customerID = $('#container').attr('customerID')
    console.log(customerID);

</script>
<% if (!cartIsEmpty) { %>
<!--begin::Page Custom Javascript(used by this page)-->
<script src="/assets/js/myScripts/item/list.js"></script>
<script src="/assets/js/myScripts/cart/edit.js"></script>
<script src="/assets/js/myScripts/cart/delete.js"></script>
<script src="/assets/js/myScripts/cart/save.js"></script>
<% } %>
<!--end::Page Custom Javascript-->
<!--end::Javascript-->